:root {
  --bgColor: #f1f1e6;
  --mainColor: #8c5252;
  --secondColor: #cbc5ff;
  --thirdColor: #d292ac;
  --darkGrey: #1e1e1e;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Quicksand:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: var(--darkGrey);
}

h2 {
  font-size: 2rem;
  line-height: 4.3rem;
}

h3 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 10px;
}

h4 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.06rem;
}

a {
  text-decoration: none;
  color: var(--darkGrey);
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

.active {
  text-decoration: underline;
  fill: var(--bgColor);
}

.active {
  & svg {
    & path {
      fill: var(--bgColor);
    }
  }
}

@media screen and (max-width: 991px) {  
  h3 {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin: 20px 0 10px;
  }
}